@charset 'UTF-8';

html,
html * {
  	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
}

header {
	z-index: 1000;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1em 3em 0em 3em;
	background-color: rgba(21, 21, 21, 0.85);
}

img { 
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

footer {
	padding: 20px 30px;
	background-color: #dbecf1;
}

body {
	font-family: arial, sans-serif;
	font-size: 1vw;
	margin-left: auto;
	margin-right: auto;
	background: white;
}

.style-logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: #FFFFFF;
	padding: 0.5em;
	font-weight: 700;
}

.style-nav ul {
	list-style-type: none;
}

.style-nav ul li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	text-align: center;
	display: block;
	text-transform: uppercase;
	padding: 0.5em;
}

.hero {
	height: 100vh;
	background-color: #000000;
	background-image: -webkit-linear-gradient(top left, rgba(151,49,51,1.00) 0%, rgba(53,53,53,1.00) 75%);
	background-image: -o-linear-gradient(top left, rgba(151,49,51,1.00) 0%, rgba(53,53,53,1.00) 75%);
	background-image: linear-gradient(to bottom right, rgba(151,49,51,1.00) 0%, rgba(53,53,53,1.00) 75%);
}

.img-fw {
	position: relative;
	text-align: center;
  }

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Open Sans', sans-serif;
	color: rgb(255, 255, 255);
	font-size: 2.5em;
	font-weight: 600;
	background-color: #383838c7;
	padding: 1em 1em 1em 1em;
	border-radius: 2em;
}

.section-intro {
	padding: 0em 4em 4em 4em;
	background-color: #F4F4F4;
}

.section-intro p {
	font-family: 'Open Sans', sans-serif;
	color: #1F1F1F;
	position: relative;
	text-align: left;
	line-height: 1.5;
	letter-spacing: 0.05em;
	font-size: 2.5em;
	font-weight: 600;
	padding-bottom: 0.8em;
}

.section-title {
	padding: 4em 4em 2em 4em;
	background-color: #F4F4F4;
}
.section-title p {
	font-family: 'Open Sans', sans-serif;
	color: #666666;
	position: relative;
	text-align: left;
	font-size: 5em;
	font-weight: 800;
}

.col {
	width: 100%;
	vertical-align: middle;
}

.col p {
	margin-bottom: 0.5em;
}

.row {
	vertical-align: middle;
}

.row:before, .row:after {
	content: "";
	display: table;
}

.footer-info-box {
	background-color: #1F1F1F;
	color: #999999;
	padding: 4em 4em 4em 4em;
  	-webkit-align-content: center;
	align-content: center;
}

.footer-info-box .punchline {
	color: #999999;
	font-size: 2em;
}

.footer:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.break {
	height: 1em;
	background-color: #FFFFFF;
}
.dark-break {
	height: 1em;
	background-color: #F4F4F4;
}

.text-full-width {
	padding: 4em 4em;
}

.text-full-width p {
	font-family: 'Open Sans', sans-serif;
	color: #1F1F1F;
	position: relative;
	text-align: left;
	line-height: 1.5;
	letter-spacing: 0.05em;
	font-size: 2.5em;
	font-weight: 400;
}

.attention {
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	position: relative;
	text-align: center;
	background-color: #FF5148;
	background-image: -webkit-linear-gradient(left, rgba(255,81,72,1.00) 0%, rgba(243,108,60,1.00) 100%);
	background-image: -o-linear-gradient(left, rgba(255,81,72,1.00) 0%, rgba(243,108,60,1.00) 100%);
	background-image: linear-gradient(to right, rgba(255,81,72,1.00) 0%, rgba(243,108,60,1.00) 100%);
}

.section-intro .attention {
	background-image: -webkit-linear-gradient(left, rgb(136, 136, 136) 0%, rgb(129, 129, 129) 100%);
	background-image: -o-linear-gradient(left, rgb(136, 136, 136) 0%, rgb(129, 129, 129) 100%);
	background-image: linear-gradient(to right, rgb(136, 136, 136) 0%, rgb(129, 129, 129) 100%);
}

.poster {
	position: relative;
	width: 100%;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.info-box {
	color: #666666;
	padding: 4em 4em 4em 4em;
  	-webkit-align-content: center;
	align-content: center;
}

.title-one-line {
	background-color: #FFFFFF;
	color: #666666;
	padding: 2em 4em 0em 4em;
  	-webkit-align-content: center;
	align-content: center;
}

.punchline {
	font-family: 'Open Sans', sans-serif;
	color: rgb(66, 66, 66);
	font-size: 2.5em;
	font-weight: 600;
	padding: 0em 0em 0.5em 0em
}

.info-box p {
	font-family: 'Open Sans', sans-serif;
	color: rgb(100, 100, 100);
	font-size: 2em;
	font-weight: 300;
	word-wrap: break-word;
	padding-bottom: 0.2em;
}

/*Tablet View*/

@media (min-width: 0px){
	
	.style-nav ul li {
		display: inline-block;
	}
	
	.style-nav ul {
		text-align: center;
	}

	.style-logo {
		text-align: center;
	}
	
	h1 {
		font-size: 40px;
		margin-bottom: 90px;
	}
	
	h2 {
		margin-bottom: 16px;
	}
	
	.col {
		float: left;
	}
}

/*Desktop View*/

@media (min-width: 700px){
	
	.style-logo {
		float: left;
	}
	
	.style-nav {
		float: right;
	}

	.col-md-one-half {
		width: 50%;
		vertical-align: middle;
	}
}
